*{
	box-sizing: border-box;
}
form{
        background:#f1f1f1;
        width:470px;
	margin:0 auto;
	padding-left:29px;
	padding-top:45px;
	border:4px solid slateblue;
}
body{
	font-family: sans-serif;
	background-image: url(http://kreativo.se/backlogin.jpg);
}
select{
	padding:5px;
	border:2px black;
	border-style: none;
	border-radius: 2px;
	resize: vertical;

}
input[type=submit]:hover {
	background-color:royalblue;
	border:none;*/
	color:white;
	padding:12px 14px;
	/*text-decoration: none;*/
	margin: 4px 2px;
	cursor: pointer;
}
label{
	display:inline-block;
	position:absolute;
	right:780px;
	width:auto;
	}
input[type=reset]:hover {
	background-color:red;
	border:none;
	color:white;
	padding:12px 14px;
	/*text-decoration: none;*/
	margin: 4px 2px;
	cursor: pointer;
}
textarea{
	height:20px;
	width:200px;
	overflow:auto;
}
input[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
